/* Main Section conatins Basic Intro, Image and Work Experience! */

.introSection {
    display: flex;
    justify-content: space-around;
    margin: 80px 0;
    align-items: center;
}

.introSection>div {
    width: 30%;
}

.introduction {
    font-size: 2.5rem;
}

.introduction .buttons {
    padding: 50px 0;
}

.profile img {
    width: 80%;
}

.skills {
    max-width: 83vw;
    margin: auto;
}

main hr {
    border: 0;
    background: rgba(201, 156, 225, 0.979);
    height: 1.2px;
    margin: 40px 84px;
}

.skillheadline{
    width: 5vw;
    margin: auto;
    color: rgb(24, 116, 209);
}

ul {
    list-style-position: inside;
}

.projectSection {
    max-width: 80vw;
    margin: 0 auto;
    height: auto;
    overflow: auto;
    display: flex;
    flex-direction: column;
    /* background-color: rgb(24, 116, 209); */
    border-radius: 20px;
    padding: 60px;

}

.projectSection a:hover {
    text-decoration: underline;
}

.project {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    margin-top: 20px;
}

.projectSection h3 {
    color: rgb(82, 255, 82);
}

.projectSection h1 {
    color: rgb(24, 116, 209);
    width: 5vw;
    margin: auto;
    font-size: 32px;
}

.projectSection li {
    margin: 5px;
}